{% extends 'base.html' %}
{% block content %}
<h1>{{ equipa.nome }}</h1>
<p>
  <b>Sigla da equipa: </b>{{ equipa.sigla }}
</p>
<p>
  <b>Nome: </b>{{ equipa.nome }}
</p>
<p>
  <b>Número de jogos: </b>{{ equipa.Njogos }}
</p>
<p>
  <b>Número de jogos ganhos: </b>{{ equipa.NJogosGanhos }}
</p>
<p>
  <b>Rácio de vitórias: </b>{{ equipa.RacioDeVitorias }}
</p>
<p>
  <b>Assassinatos por mortes (K:D): </b>{{ equipa.KD }}
</p>
<p>
  <b>Assassinatos por jogo: </b>{{ equipa.AssassinatosPorJogo}}
</p>
<p>
  <b>Mortes por jogo: </b>{{ equipa.MortesPorJogo }}
</p>
<p>
  <b>Região: </b>
    <a href="/regioes/{{ regiao.sigla }}">{{ regiao.nome }}</a>
</p>
<p>
  <b>Jogadores: </b>
<ul>
  {% for j in jogadores %}
  <li>
    Nickname: <a href="/jogadores/{{ j.nickname }}">{{ j.nickname }}</a>
  </li>
  {% endfor %}
</ul>
</p>
<!--{% if streams %}-->
<p>
  <b>Parcerias com patrocinadores: </b>
<ul>
  {% for p in parcerias %}
  <li>
    <a href="/parcerias/{{ p.nome }}">{{ p.nome }}</a>
  </li>
  {% endfor %}
</ul>
</p>
<!--{% endif %}--> 
{% endblock %}