{% extends 'base.html' %}
{% block content %}
<h1>Equipas</h1>
<table>
  <tr>
    <th>
      <b>Sigla</b>
    </th>
    <th>
      <b>Regiao</b>
    </th>
    <th>
      <b>Nome</b>
    </th>
  </tr>

  {% for equipa in equipas %}
  <tr>
    <td>
      <a href="/equipas/{{ equipa.Sigla }}">{{ equipa.Sigla }}</a>
    </td>
    <td>
      <a href="/regioes/{{ equipa.Regiao }}">{{ equipa.Regiao }}</a>
    </td>
    <td>
      {{ equipa.Nome }}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}