{% extends 'base.html' %}
{% block content %}
<h1>worlds2023 database - Group 2</h1>

<h2>About</h2>
<p>This web application illustrates the use of the worlds2023
database. The application is built using 
<a href="https://docs.python.org/3/library/sqlite3.html">sqlite3</a>,
<a href="https://flask.palletsprojects.com">Flask</a>, and
<a href="https://jinja.palletsprojects.com">Jinja</a> provided by the professors.
</p>

<h2>Estatisticas sobre a base de dados</h2>
<table>
<tr>
  <th>Items</th>
  <th>Count</th>
</tr>
<tr>
  <td>Equipas</td>
  <td>{{ stats.n_equipas }}</td>
</tr>
<tr>
  <td>Jogadores no campeonato</td>
  <td>{{ stats.n_jogadores }}</td>
</tr>
<tr>
  <td>Regiões do campeonato</td>
  <td>{{ stats.n_regioes }}</td>
</tr>
<tr>
  <td>Patrocinadores</td>
  <td>{{ stats.n_patrocinadores }}</td>
</tr>
<tr>
  <td>Parcerias</td>
  <td>{{ stats.n_parcerias }}</td>
</tr>
</table>


<h2>Procure por mais informações</h2>

<h3>Equipas</h3>
<p>
   <a href="/equipas">Ver todas</a>
</p>
<p>Informação sobre a equipa:
<form name="mid" action="javascript:window.open('/equipas/'+document.forms['mid'].elements['id'].value,'_self')">
   Sigla da equipa(em maiúsculas):<input value="G2" name="id" type="text"/><input type="submit" value="get"/>
</form>
</p>
  
<p>Pesquisa por nome:
<form name="msearch" action="javascript:window.open('/equipas/search/'+document.forms['msearch'].elements['expr'].value,'_self')">
  <input name="expr" id="expr" value="G2 Esports" required/>
  <input type="submit" value="search"/>
</form>
</p>

<h3>Jogadores</h3>
<p>
   <a href="/jogadores">Ver todos</a>
</p>
<p>Informações sobre um jogador:</p>

<form name="aid" action="javascript:window.open('/jogadores/'+document.forms['aid'].elements['id'].value,'_self')">
   Nickname do jogador (sensível a maiúsculas):<input value="Caps" name="id" type="text"/><input type="submit" value="get"/>
</form>

  
<p>Caso não saiba o nickname exato pesquise aqui:
  <form name="asearch" action="javascript:window.open('/jogadores/search/'+document.forms['asearch'].elements['expr'].value,'_self')">
    <input name="expr" id="expr" value="a" required/>
    <input type="submit" value="search"/>
  </form>
</p>

<p>Pesquise jogadores através da sigla da respectiva equipa:
  <form name="42search" action="javascript:window.open('/jogadores/searchbyteam/'+document.forms['42search'].elements['batata'].value,'_self')">
    <input name="batata" id="batata" value="T1" required/>
    <input type="submit" value="search"/>
  </form>
</p>

<p style="font-size: 17px;">Clique <a href="/jogadores/naojogamemcasa/">aqui</a> para ver informação sobre <b>jogadores que não jogam em casa.</b></p>

<h3>Regiões</h3>
<p>
   <a href="/regioes">Ver todas</a>
</p>

<p>Constituição de cada região:
<form name="gid" action="javascript:window.open('/regioes/'+document.forms['gid'].elements['id'].value,'_self')">
   Sigla da região:
    <select name="id" type="text">
      <option>KR</option>
      <option>CN</option>
      <option>EMEA</option>
      <option>NA</option>
      <option>PCS</option>
      <option>VN</option>
      <option>JP</option>
      <option>BR</option>
      <option>LAT</option>
      <option>INT</option>
    </select>
    <input type="submit" value="get"/>
</form>
</p>

  <h6>Junção</h6>
  <p>Ver toda a informação disponível sobre uma equipa:
    <form name="gud" action="javascript:window.open('/equipas/vertudo/'+document.forms['gud'].elements['id'].value,'_self')">
       Sigla da equipa:
        <select name="id" type="text">
          <option>BDS</option>
          <option>BLG</option>
          <option>C9</option>
          <option>DK</option>
          <option>FNC</option>
          <option>G2</option>
          <option>GAM</option>
          <option>GEN</option>
          <option>JDG</option>
          <option>KT</option>
          <option>LNG</option>
          <option>MAD</option>
          <option>NRG</option>
          <option>T1</option>
          <option>TL</option>
          <option>WBG</option>
        </select>
        <input type="submit" value="get"/>
    </form>
  



<h4>Patrocinadores</h4>
<p>
   <a href="/patrocinadores">Ver todos</a>
</p>
<p>Procure um patrocinador (sensível a maiúsculas e minúsculas):
  <form name="44search" action="javascript:window.open('/patrocinadores/search/'+document.forms['44search'].elements['batata2'].value,'_self')">
    <input name="batata" id="batata2" value="Twitch" required/>
    <input type="submit" value="search"/>
  </form>
</p>

<h5>Parcerias</h5>
<p>
  <a href="/parcerias">Ver todas</a>
</p>

<p style="font-size: 17px;" >Clique <a href="/parcerias/porequipa">aqui</a> para ver <b>quantas parcerias tem cada equipa</b></p>

<p>Pesquisar por sigla da equipa (em maiúsculas):
  <form name="abc" action="javascript:window.open('/parcerias/byteam/'+document.forms['abc'].elements['id'].value,'_self')">
     <input value="T1" name="id" type="text"/><input type="submit" value="Search"/>
  </form>
  </p>
  <p>Pesquisar por nome do patrocinador (sensível a maiúsculas e minúsculas):
    <form name="abcd" action="javascript:window.open('/parcerias/bysponsor/'+document.forms['abcd'].elements['id'].value,'_self')">
       <input value="Twitch" name="id" type="text"/><input type="submit" value="Search"/>
    </form>
    </p>


{% endblock %}
